<div class="users-new-wrapper">
  <%= image_tag 'Fancy_logo_black.png'%>
  <div class="users-new-container">
    <%= form_with(model: @user, local: true) do |f| %>
    <div class="users-new-title">
      <h1>新規登録</h1>
    </div>
    
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, placeholder: "氏名" ,id: 'user_name' %>
      <%= f.email_field :email, placeholder: "メールアドレス" ,id: 'user_email' %>
      <%= f.password_field :password, placeholder: "パスワード",id: 'user_password' %>
      <%= f.password_field :password_confirmation , placeholder: "パスワード(確認)" ,id: 'user_password_confirmation'  %>
      <%= f.submit "登録する", class: "btn-square-shadow"%>
    <% end %>
  </div>
  <div class="users-new-btn">
    <%= link_to "トップページ",root_path %>
  </div>
</div>