<div class="users-new-wrapper">
  <%= image_tag 'Fancy_logo_black.png'%>
  <div class="users-new-container">
    <%= form_with(model: @user, local: true) do |f| %>
    <div class="users-new-title">
      <h1>新規登録</h1>
    </div>
    
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, placeholder: "氏名" %>
      <%= f.email_field :email, placeholder: "メールアドレス" %>
      <%= f.password_field :password, placeholder: "パスワード" %>
      <%= f.password_field :password_confirmation , placeholder: "パスワード(確認)" %>
      <%= f.submit "登録する", class: "btn-square-shadow" %>
    <% end %>
  </div>
</div>