<header class="logged">
  <div class="header-icon">
    <p>設定</p>
  </div>
</header>

<div class="users-setting-wrapper">
  <div class="users-setting-container">
    <ul>
      <%= link_to change_email_edit_path(current_user.id) do %>
        <li>
          メールアドレス変更
          <span class="material-icons">navigate_next</span>
        </li>
      <% end %>
      <%= link_to change_password_edit_path(current_user.id) do %>
        <li>
          パスワード変更
          <span class="material-icons">navigate_next</span>
        </li>
      <% end %>
    </ul>
    <ul>
      <%= link_to privacy_policy_path do %>
        <li>
          プライバシーポリシー
          <span class="material-icons">navigate_next</span>
        </li>
      <% end %>
      <%# <li>
        特商法表記
        <span class="material-icons">navigate_next</span>
      </li> %>
      <%# <li>
        よくあるご質問
        <span class="material-icons">navigate_next</span>
      </li> %>
      <%= link_to question_path do %>
        <li>
          よくあるご質問
          <span class="material-icons">navigate_next</span>
        </li>
      <% end %>

      <%= link_to contacts_path do %>
        <li>
          お問い合わせ
          <span class="material-icons">navigate_next</span>
        </li>
      <% end %>

    </ul>
    <ul>
      <%= link_to logout_path , class: "logout-btn", method: :delete do %>
        <li class="logout-btn">
          ログアウト
          <span class="material-icons">navigate_next</span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'shared/bottom_nav' %>