<%= render 'shared/header_logged' %>

<div class="users-new-wrapper">
  <div class="users-new-container">
    <%= form_with(model: @contact,url:contacts_path,local: true) do |f| %>
    <div class="users-new-title">
      <h1>お問い合わせ</h1>
    </div>
      <%= f.text_field :name, placeholder: "氏名" ,id: 'contact_name' %>
      <%= f.email_field :email, placeholder: "メールアドレス" ,id: 'contact_email' %>
      <%= f.text_area :message, placeholder: "お問い合わせ内容" ,id: 'contact_message'%>
      <%= f.submit "送信する", class: "btn-square-shadow" %>
    <% end %>
  </div>
</div>

<%= render 'shared/bottom_nav' %>