<%= render 'shared/header_logged' %>

<div class="users-new-wrapper">
  <div class="users-new-container">
    <%= form_with(url: change_password_update_path,local: true) do |f| %> 
    <div class="users-new-title">
      <h1>パスワード変更</h1>
    </div>
      <%= render 'shared/error_messages' %>
      <%= f.password_field :current_password, class: 'form-control', placeholder: "現在のパスワード" ,id: 'current_password'%>
      <%= f.password_field :password, class: 'form-control', placeholder: "新しいパスワード" ,id: 'new_password' %>
      <%= f.password_field :password_confirmation , class: 'form-control', placeholder: "新しいパスワード(確認)" ,id: 'new_password_confirmation' %>
      <%= f.submit "変更", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>

<%= render 'shared/bottom_nav' %>