<%= render 'shared/header_logged' %>

<div class="users-new-wrapper">
  <div class="users-new-container">
    <%= form_with(url: change_email_update_path,local: true) do |f| %> 
    <div class="users-new-title">
      <h1>メールアドレス変更</h1>
    </div>
      <%= render 'shared/error_messages' %>
      <%= f.email_field :email, class: 'form-control', placeholder: "新しいメールアドレス",id: 'new_email'%>
      <%= f.password_field :password, class: 'form-control', placeholder: "パスワード", id: 'password_confirmation'%>
      <%= f.submit "変更", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>

<%= render 'shared/bottom_nav' %>