<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <header>
    <div class="header-logo">
      <%= image_tag 'Fancy_logo_white.png'%>
    </div>
    <nav class="header-nav">
      <ul>
        <% if !logged_in? %>
          <li><%= link_to "ログイン" , login_path%></li>
        <% else %>
          <li><%= link_to "ログアウト" , logout_path , method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <div class="top-wrapper">
      <%= image_tag 'lp.png' %>
      <div class="top-container">
        <%= link_to new_user_path do%>
          <button class="btn-square-shadow">新規登録はこちら！</button>
        <% end %>
      </div>
    </div>
    <div class="about-wrapper">
      <div class="about-container">
        <div class="about-title">
          <h2>彼女ができない理由は明白</h2>
        </div>
          <p>あなたに彼女ができない理由、</p>
          <p>それは<span class="marker-under">「行動してない」</span>からです。</p>
          <p>と言われてもどんな行動をすればいいのかわからないですよね...。</p>
          <p>なんならほとんどの人は、その事実に気づいていながら彼女ができないと悩んでいるのではないでしょうか？</p>
          <p>急にナンパをしたり、マッチングアプリに登録して行動したとしても、</p>
          <p>とてもじゃないけど彼女ができるとは思えないですよね（笑）。</p>
          <p>そんなあなたのためにFancyでは彼女を作るために必要なノウハウを全て解説しています。</p>
          <p>Fancyではあなたが<span class="marker-under">適切な行動をできるように徹底的にサポート</span>します。</p>
          <p><span class="marker-under">最短経路で最高の彼女をゲットしたい人は登録必須です！</span></p>
      </div>
      <div class="btn-container">
        <%= link_to new_user_path do%>
          <button class="btn-square-shadow">新規登録はこちら！</button>
        <% end %>
      </div>
      <div class="about-container">
        <div class="about-title">
          <h2>彼女を作ることは誰でもできる</h2>
        </div>
          <p><span class="marker-under">これは断言できます！</span></p>
          <p>Fancyを運営している私も、今では長く付き合っている彼女が居ますが、</p>
          <p>元々は全然モてるようなタイプではありませんでした。</p>
          <p>思春期の頃は周りの恋バナにも全然ついていけない、話題が恋愛になった瞬間に会話の輪から外れるしかありませんでした。</p>
          <p>そんな私でもある日を境に行動することでいとも簡単に彼女を作ることができたんです！</p>
          <p>その彼女とは今でも付き合っています。</p>
          <p>なので私は<span class="marker-under">彼女を作るということは絶対に誰でもできると確信してます！</span></p>
      </div>
      <div class="btn-container">
        <%= link_to new_user_path do%>
          <button class="btn-square-shadow">新規登録はこちら！</button>
        <% end %>
      </div>
      <div class="about-container">
        <div class="about-title">
          <h2>彼女作りは再現性が高い</h2>
        </div>
          <p>そもそも彼女を作ることが難しかったら、</p>
          <p>人類は絶滅していると思いませんか？</p>
          <p>彼女を作るということが難しいことであれば、</p>
          <p>地球の人口が増え続けるなんてこともないと思います。</p>
          <p>今では日本では晩婚化とか、生涯未婚の人の割合も増えてきていますが、</p>
          <p>半世紀ほど前だと生涯未婚の割合はたった2％だったそうです。</p>
          <p>結婚で98％だったら、<span class="marker-under">彼女を作るなんて99.9％くらいの人はできる</span>はずです！</p>
          <p>彼女を作るのは誰でもできるというのは、</p>
          <p>私個人の体験だけでなく、</p>
          <p><span class="marker-under">事実として証明されている</span>ものなんです！</p>
      </div>
      <div class="btn-container">
        <%= link_to new_user_path do%>
          <button class="btn-square-shadow">新規登録はこちら！</button>
        <% end %>
      </div>
    </div>
  </main>
  <footer>
    <small>
      <p>&copy 2020 Fancy</p>
    </small>
  </footer>
</body>

</html>