<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <header>
    <div class="header-logo">
      <%= image_tag 'Fancy_logo_white.png'%>
    </div>
    <nav class="header-nav">
      <ul>
        <% if !logged_in? %>
          <li><%= link_to "ログイン" , login_path%></li>
        <% else %>
          <li><%= link_to "ログアウト" , logout_path , method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <div class="top-wrapper">
      <%= image_tag 'lp.png' %>
      <div class="top-container">
        <%= link_to new_user_path do%>
          <button class="btn-square-shadow">新規登録はこちら！</button>
        <% end %>
      </div>
    </div>
    <div class="about-wrapper">
      <div class="about-container">
        <h2>適切に行動すれば余裕です</h2>
          <p>「彼女欲しいけどどうすればいいのかな？」</p>
          <p>「どうやって行動すればいいのかわからない...」</p>
          <p>Fancyはそんな人達のために作られたサービスです。</p>
          <p>Fancyでは彼女を作るのに必要なノウハウを</p>
          <p>徹底解説しております。</p>
          <p>Fancyでインプットしたノウハウをアウトプットして行動をすることで、</p>
          <p>最短経路で彼女を作るというゴールに辿りつけます</p>
        <%= link_to new_user_path do%>
          <button class="btn-square-shadow">新規登録はこちら！</button>
        <% end %>
      </div>
      <div class="about-container">
        <h2>彼女を作ることは誰でもできる</h2>
        <p>彼女を作ることなんて誰でもできます！</p>
        <p>これは断言できます！</p>
        <p>Fancyを運営している私も、</p>
        <p>今では長く付き合っている彼女が居ますが、</p>
        <p>元々は全然モてるようなタイプではありませんでした。</p>
        <p>思春期の頃は周りの恋バナにも全然ついていけない、話題が恋愛になった瞬間に会話の輪から外れるしかありませんでした。</p>
        <p>そんな私でもある日を境に行動することでいとも簡単に彼女を作ることができたんです！</p>
        <p>その彼女とは今でも付き合っています。</p>
        <p>なので私は彼女を作るということは絶対に誰でもできると確信してます！</p>
        <%= link_to new_user_path do%>
          <button class="btn-square-shadow">新規登録はこちら！</button>
        <% end %>
      </div>
      <div class="about-container">
        <h2>彼女作りは再現性が高い</h2>
          <p>そもそも彼女を作ることが難しかったら、</p>
          <p>人類は絶滅していると思いませんか？</p>
          <p>彼女を作るということが難しいことであれば、</p>
          <p>地球の人口が増え続けるなんてこともないと思います。</p>
          <p>今では日本では晩婚化とか、生涯未婚の人の割合も増えてきていますが、</p>
          <p>半世紀ほど前だと生涯未婚の割合はたった2％だったそうです。</p>
          <p>結婚で98％だったら、彼女を作るなんて99.9％くらいの人はできるはずです！</p>
          <p>彼女を作るのは誰でもできるというのは、</p>
          <p>私個人の体験だけでなく、</p>
          <p>事実として証明されているものなんです！</p>
        <%= link_to new_user_path do%>
          <button class="btn-square-shadow">新規登録はこちら！</button>
        <% end %>
      </div>
    </div>
  </main>
  <footer>
    <small>
      <p>&copy 2020 Fancy</p>
    </small>
  </footer>
</body>

</html>