<%= render 'shared/header_logged' %>

  <div class="users-new-wrapper">
    <div class="users-new-container">
      <%= form_with(model: @post, local: true) do |f| %>
      <div class="users-new-title">
        <h1>投稿編集</h1>
      </div>
        <%= f.text_field :title, placeholder: "タイトル" %>
        <%= f.file_field :image,placeholder: "サムネイル" %>
        <%= f.text_area:content,placeholder: "コンテンツ" %>
        <%= f.submit "投稿する", class: "btn-square-shadow" %>
      <% end %>
        <div class="users-new-btn">
        <%= link_to "削除",post_path,method: :delete %>
      </div>
    </div>
</div>

<%= render 'shared/bottom_nav' %>