<%= render 'shared/header_logged' %>

<div class="posts-index-wrapper">
  <div class="posts-index-container">
    <% @posts.each do |post| %>
      <% if Like.find_by(post_id: post.id,user_id: current_user.id)%>
        <div class="posts">
          <%= link_to post do%>
          <div class="posts-index-image">
            <%= image_tag 'thumbnail.png'%>
          </div>
          <div class="posts-index-title">
            <h2><%= link_to post.title, post%></h2>
            <div id="like-btn-<%= post.id %>" class="like-btn">
              <%= render 'likes/like', post: post %>
          </div>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/bottom_nav' %>