<div class="posts-new-wrapper">
  <div class="posts-new-container">
    
    <%= form_with(model: @post, local: true) do |f| %>

    <%= f.label :tilte, "タイトル" %>
    <%= f.text_field :title%>

    <%= f.label :image, "サムネイル"  %>
    <%= f.file_field :image %>

    <%= f.label :content, "エディタ" %>
    <%= f.text_area:content %>

    <%= f.submit "投稿する"%>
    <% end %>
  </div>
</div>

